

body{
  
  text-align:center;
  background-size: auto;
font-display: swap;
font-family: 'Cairo';font-size: 22px;
  background-image: url(./img/KuwaitCodesWallpaper.png);
  background-size: cover;

}

/* المطلوب الثاني هنا */
nav {
  display:flex;
  justify-content: center;


}
.nav-elements {
  display:flex;
  justify-content: space-between;

}

.card {
  /* المطلوب الثالث هنا */
  width: 400px;
  height: 500px;
  background-color: white;
  border-radius: 12px;
}

img {
  /* المطلوب الرابع هنا */
  width: 120px;
  height: 120px;
  margin-top: 20px;
  border-radius: 50%;
  box-shadow:20px 20px rgba(169, 169, 169, 0.281);
}

.hobbies {
  display:flex;
  justify-content: space-between;
  grid-template-columns: auto auto auto;
}

.center {
  margin: auto;
}

ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap')